body {
  font-family: sans-serif;
  margin: 0px; 
  background: cornsilk;
}

header{
background:   lightblue;
padding: 25px;}

header a{
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    margin: 50px;
    border-radius: 50px;
    color: black;
}
nav a{ 
    background: rgba(214, 211, 25, 0.849);
    text-decoration: none;
    border: 2px solid rgb(14,17,17);
    padding: 10px;
    border-radius: 50px;
    color: black;
}
main p{
background: rgb(132, 163, 230);
padding: 20px;
width: 40%;
text-align: center;
margin-left: 30%;
}

footer {
    background: rgb(204, 209, 219)
}
